@charset "utf-8";
:root {
    --black: black;
    --grey: #BDBDBD;
    --light-grey: #F5F5F5;
    --main: #113984;
    --orange: #E64A19;
    --yellow: #FEC601;
    --blue: #2789de;
    --shadow-button: 0px 1px 4px 0 rgba(0, 0, 0, 0.3);
    --shadow-pop: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    --radius: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-kerning: auto;
    hyphens: auto;
}

.pop_up .group .item .button.add {
    margin: 0;
    border-left: none;
}

/* ************************************************************ */

/* current site styles*/

header {
    /*! background: white; */
    /*! position: sticky; */
    /*! top: 0; */
    /*! z-index: 99; */
    /*! background: cornflowerblue; */
    border-bottom: solid 1rem var(--light-grey);
}

header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
}

#pop_up_welcome {
    display: none;
}

.account {
    position: relative;
}

.account .panel {
    position: absolute;
    padding: 1rem;
    background: white;
    box-shadow: var(--shadow-pop);
    right: 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

.account .panel a {
    font-size: 0.875rem;
    color: var(--main);
    text-decoration: underline;
    margin-bottom: 1rem;
}

.account .panel .button {
    margin: 0 auto;
}

.account .panel .el_data {
    margin: 1rem 0;
}

#top_menu ul {
    display: flex;
    flex-wrap: wrap;
}

#top_menu ul li {
    padding: 0.25rem 0.75rem;
    transition: ease-in-out 0.3s;
}

#top_menu ul li a {
    color: var(--main);
    font-weight: 500;
    white-space: nowrap;
    transition: ease-in-out 0.3s;
    border-bottom: solid 2px white;
}

#top_menu ul li a:hover {
    border-bottom: solid 2px var(--main);
    /*! transition: ease-in-out 0.3s; */
}

#top_menu ul li .active {
    border-bottom: solid 2px var(--orange);
}

#admin_menu {
    background: var(--main);
    color: var(--light-grey);
    padding: 0.75rem 0;
}

#admin_menu ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#admin_menu ul li a .material-icons {
    /*! display: flex; */
    /*! align-items: center; */
    /*! background: black; */
    /*! padding: 0.5rem; */
    margin-right: 0.5rem;
}

#admin_menu ul li a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    cursor: pointer;
    /*! border: solid 1px var(--main); */
}

#admin_menu ul li .active {
    /*! border: solid 1px var(--light-grey); */
    color: var(--yellow);
}

#admin_menu ul li a:hover {
    color: var(--yellow);
}

.content main {
    /*! background: antiquewhite; */
    /*! width: 100%; */
    padding: 1rem 0;
    min-height: 72vh;
    /*! overflow: hidden; */
}

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*! margin-left: -0.5rem; */
    /*! background: antiquewhite; */
}

.control button {
    margin: 0 1rem 1rem 0;
    position: relative;
    /*! margin-right: 1rem; */
    /*! margin-bottom: 1rem; */
}

.control button.marked:after{
    content: "";
    position: absolute;
    right: -5px;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background: #e64a1a;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, .15);
}

.scroll_wrap {
    /*overflow-x: auto;
    ! scrollbar-width: thin; */
    /*! scroll-margin-top: 1rem; */
    scrollbar-color: var(--main) var(--grey);
}

.table_data {
    border-collapse: collapse;
    font-weight: 400;
    font-size: 0.875rem;
    overflow-x: auto;
    width: 100%;
}

.table_data th {
    border: 1px solid var(--grey);
    padding: 0 .8rem 0.5rem .8rem;
    /*! color: azure; */
    /*! font-size: 1rem; */
    font-weight: 500;
    /*! background: white; */
    vertical-align: bottom;
}

.table_data thead {
    background: var(--light-grey);
}

.table_data td {
    padding: .5rem;
    border: solid 1px var(--grey);
    position: relative;
}
.table_data td.col_actions{
    white-space: nowrap;
}

.table_data .hidden {
    display: none;
    /*! padding: 0 1rem; */
}

.table_data .description {
    display: flex;
    /*! margin-bottom: 0.5rem; */
    /*! padding-bottom: 1.5rem; */
    /*! align-items: center; */
    /*! flex-wrap: wrap; */
    margin: 0 0.5rem;
    /*! justify-content: space-between; */
}

.table_data .description .title {
    font-weight: 500;
    margin-right: 0.5rem;
}

.table_data .custom_checkbox {
    margin: 0 auto;
    width: 1.25rem;
    height: 1.25rem;
}

.table_data .hidden {
    background: var(--light-grey);
}

.table_data a {
    color: var(--main);
    text-decoration: underline;
    /*! white-space: nowrap; */
    /*! text-align: center; */
}

.table_data .sort {
    background: none;
    border: none;
    margin: 0;
}

.table_data .description .votes {
    /*! height: 100%; */
    /*! background: aqua; */
    /*! margin-right: 1rem; */
    margin: 0 3rem 0 0;
    max-width: 24rem;
    width: 100%;
}

.table_data .description .interes {
    display: flex;
    flex-flow: column;
}

.table_data .description .votes .vote {
    display: flex;
    /*! align-items: center; */
    /*! max-width: 32rem; */
    margin-bottom: 1rem;
}

.table_data .description .votes .vote .answer {
    /*! display: flex; */
    /*! flex-flow: column; */
    /*! justify-content: space-between; */
    /*! height: 100%; */
    /*! white-space: nowrap; */
    width: 100%;
    line-height: 1rem;
    margin-left: 0.5rem;
    min-width: 12rem;
}

.table_data .description .votes .vote .answer .bar span {
    background: var(--main);
    padding: 0.25rem;
    position: absolute;
    right: -1.5rem;
    bottom: -0.65rem;
    font-size: 0.75rem;
    color: white;
    border-radius: 1rem;
}

.table_data .description .votes .vote .answer .bar span::after {
    content: "%";
}

.table_data .description .votes .vote .answer .bar {
    height: 0.25rem;
    background: var(--main);
    margin-top: 0.5rem;
    position: relative;
    transition: all .3s;
}

.table_data .button, .table_data button {
    margin: 0.5rem auto;
}
#users_table .more{
    margin: .5rem .2rem;
}

#users_table .vline{
    border-left: 1px dashed var(--grey);
    width: 2px;
    visibility: hidden;
}

#users_table .vline.top{
    height: 80px;
    margin: -3rem 0 -2rem 6rem;
}

#users_table .vline.bottom{
    height: 75px;
    margin: -.5rem 0 -3rem 6rem;
}

#users_table .show_children{
    cursor: pointer;
    position: relative;
    top: .4rem;
}

footer {
    background: var(--main);
    color: var(--light-grey);
    font-size: 0.875rem;
    padding: 2rem 0;
}

footer .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer li {
    margin-bottom: 0.5rem;
}

.logo {
    width: 5rem;
}

#notify_show {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 999;
    /*! display: flex; */
}

#notify_show .wrapper {
    margin: 0.5rem;
    background: white;
    box-shadow: var(--shadow-pop);
}

#notify_show .message {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    border: solid 1px var(--main);
    margin: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: fit-content;
}
#notify_show .message.error{
	border: solid 1px var(--orange);
}
#notify_show .message p {
    margin-bottom: 1.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    width: 100%;
}

#notify_show .message .title {
    padding: 0.75rem;
    text-align: center;
    top: -1.5rem;
    position: relative;
    background: var(--main);
    color: white;
}
#notify_show .message.error .title{
	background: var(--orange);
}
#notify_show .message .button, #notify_show .message button {
    margin-top: 1.5rem;
}

/* для попапа начало*/

.wrap_pop_up {
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    flex-direction: column;
    height: 100%;
    background-color: RGBa(189, 189, 189, 0.3);
    display: none;
    /*! display: flex; */
    /*! overflow-y: auto; */
}

.pop_up {
    background: white;
    /*! padding: 1rem; */
    box-shadow: var(--shadow-pop);
    border: solid 1px var(--grey);
    /*! border-radius: 4px; */
    margin: 1rem;
    overflow: auto;
    /*! resize: both; */
    max-width: 70rem;
    /*! color: var(--main); */
    /*! width: 50%; */
    /*! min-width: 52rem; */
    overflow-y: auto;
    /*! height: inherit; */
    overflow-x: hidden;
}

.pop_up section {
    margin: 0 1rem 2rem 1rem;
}

.pop_up .title {
    width: 100%;
    position: relative;
    text-align: center;
    background: var(--main);
    color: white;
    padding: 0.75rem;
    margin-bottom: 2rem;
}

.pop_up .title .close {
    position: absolute;
    right: 1.5rem;
    top: 0.65rem;
    cursor: pointer;
}

.pop_up .group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*! margin-top: 1rem; */
    margin-bottom: 2rem;
    /*! border: solid 1px var(--light-grey); */
    padding: 1rem;
}

.pop_up .group .item {
    display: flex;
    flex-flow: wrap;
    /*! margin: 1.5rem 0; */
    /*! width: 100%; */
    align-items: center;
    /*! margin: 0.5rem; */
    padding: 0.5rem;
}

.pop_up .group .item .button {
    margin: 0 0 0 -1px;
    /*! border: none; */
}

.donate {
    background: var(--main);
    margin-bottom: 2rem;
    color: white;
    padding: 2rem 0;
}

.donate .wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.donate .payment {
    background: white;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.donate .payment img {
    height: 2rem;
}

.text.active, .icon.active {
    background: var(--yellow);
}

/* pagination */

.pagination {
    display: flex;
    margin: 1rem auto;
    flex-flow: row wrap;
    justify-content: center;
    /*! padding-left: 0.375rem; */
    /*! padding-right: 0.375rem; */
    /*! width: 100%; */
    /*! float: none; */
    align-items: center;
}

.pagination .page {
    width: 2.8rem;
    height: 2.8rem;
    /*! border: solid 1px blue; */
    line-height: 2.8rem;
    text-align: center;
    font-size: 0.875rem;
    /*! font-weight: 300; */
    /*! background: var(--grey); */
    /*! margin-left: 0.375rem; */
    /*! margin-right: 0.375rem; */
    /*! margin-bottom: 0.75rem; */
    transition: ease-in-out 0.3s;
}

.pagination .paginate:hover,
.pagination .page:hover {
    background: var(--light-grey);
}

.pagination .page.current {
    border: solid 1px var(--grey);
    color: var(--main);
    /*! font-weight: 500; */
    background: var(--light-grey);
}

.pagination .paginate {
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.pagination .paginate a,
.pagination .page a {
    display:block;
}

.pagination .paginate .icon.prev {
    background: url(../images/icon_page_left.svg) no-repeat center center;
    display: block;
    background-size: 1rem;
    width: 2.8rem;
    height: 2.8rem;
}

.pagination .paginate .icon.next {
    background: url(../images/icon_page_right.svg) no-repeat center center;
    display: block;
    background-size: 1rem;
    width: 2.8rem;
    height: 2.8rem;
}

/* pagination end */

.widgets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.widgets .box {
    width: 100%;
}

.widgets .item {
    border: solid 1px var(--grey);
    height: 100%;
    transition: ease-in-out 0.3s;
}

.widgets .item .title {
    background: var(--main);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.widgets .item .info_value {
    border: solid 4px var(--yellow);
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main);
    border-radius: 50%;
    margin: 2rem auto 1rem auto;
}

.widgets .item .info_desc {
    padding: 1rem;
    text-align: center;
    color: var(--main);
    font-weight: 500;
    hyphens: none;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.widgets .item:hover {
    box-shadow: var(--shadow-button);
    background: var(--light-grey);
}

.slide_welcome {
    background: url(../images/title.jpg) center center;
    background-size: cover;
}

.slide_welcome .text_welcome {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    /*! width: 50%; */
    hyphens: none;
    padding: 2rem 0;
}

.promo {
    margin-bottom: 2rem;
}

.promo .intro .party_name {
    color: var(--main);
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: solid 1px var(--main);
    padding: 1rem 2rem;
    text-align: center;
    transition: ease-in-out 0.3s;
}

.promo .intro .party_name:hover {
    box-shadow: var(--shadow-button);
    background: var(--light-grey);
}

.promo .intro .title {
    background: var(--main);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.promo .intro p {
    line-height: 1.4rem;
}

.news_list .item {
    margin-bottom: 2rem;
}

.news_list .item .anons .date {
    color: var(--grey);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.news_list .item .anons .title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--main);
}

.news_list .item .anons .disc {
    line-height: 1.5rem;
}

.news_single .pic img {
    width: 100%;
}

.news_single .content .date {
    color: var(--grey);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.news_single .content .title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--main);
}

.news_single .content .text {
    line-height: 1.5rem;
}

.static_data h2 {
    margin-bottom: 1rem;
}

.static_data {
    margin-bottom: 2rem;
}

.static_data .group h3 {
    width: 100%;
    font-size: 0.875rem;
    margin: 0 0 2rem 0;
}

.static_data .group {
    display: flex;
    flex-flow: wrap;
    padding: 2rem 2rem 0 2rem;
    border: solid 1px var(--grey);
}

.static_data .group .item {
    max-width: 15rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.static_data .group .item.channel {
    display: flex;
    margin-right: 0;
    max-width: initial;
    flex-flow: wrap;
    margin-bottom: 1rem;
}

.static_data .group .item.channel .el_data {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.static_data .group .button {
    margin: auto;
}

.static_data .group .button.add {
    margin: 0 0 0 -1px;
    /*! border: var(--light-grey); */
}

.static_data .group .item .el_data .button {
    margin: 0 0 0 -1px;
    /*! padding: 0.63rem 0.75rem; */
    /*! border: none; */
}

.comment {
    /*! width: 100%; */
    font-size: 0.875rem;
    white-space: pre-wrap;
    /*! display: block; */
    /*! background: aqua; */
    /*! float: right; */
    padding: 0.5rem;
}
main .box ul, main .box ol{margin: 1rem 0 1rem 2rem;}
main .box ul li{margin: 1rem;display: list-item;}
main .box ol li{margin: 1rem;display: list-item;}
main .box p{margin-bottom: 1rem;}
main .box h2{font-weight: 600;margin-bottom: 1rem;border-left: solid 4px var(--main);padding-left: 1rem;font-size: 110%;}
.interes .statInfo {
    text-align: center;
    margin-bottom: 0;
}