/* reset5 © 2011 opensource.736cs.com MIT */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}
/* General */
html,body {height:100%;}
body {overflow-y:scroll;font-size:16px;line-height:25px;color:#333;font-family:'Open Sans',sans-serif;background:rgb(0, 173, 238);}
p {margin-bottom:25px;}
h1 {font-size:22px;margin-bottom:25px;font-weight:bold;text-transform:uppercase;color:#1e91c9;color:#000;}
h2 {font-size:22px;margin-bottom:25px;font-weight:bold;text-transform:uppercase;color:#1e91c9;color:#000;}
h3 {font-size:18px;margin-bottom:25px;font-weight:bold;color:#1e91c9;color:#000;}
h4 {font-size:16px;margin-bottom:25px;font-weight:bold;color:#1e91c9;color:#000;}
h5 {font-size:14px;font-weight:bold;margin-bottom:5px;color:#000;}
blockquote {margin-bottom:25px;color:#000;}
	blockquote p {margin-bottom:0;}
#main a, #footer ul a {color:#1d92cb;text-decoration:none;border-bottom:#1d92cb dotted 1px;}
/* #main a:hover, #footer ul a:hover {border-bottom:transparent dotted 1px;} */
#main a:hover, #footer ul a:hover {color:#f58220;border-bottom:#f58220 dotted 1px;}
a.button {line-height:27px;display:inline-block;padding:0 30px 3px;border-radius:5px;background:#f58220;color:#fff !important;position:relative;text-decoration:none;transition:all linear 0.3s;border-bottom:none !important;}
	a.button span {font-size:13px;text-transform:uppercase;border-bottom:#fff dotted 1px;line-height:14px;}
	a.button:hover span {border-bottom:transparent solid 1px;}
#header-callback a.button {padding-left:40px;width:160px;}
	.tender-link {background-color:#00aeef !important;width:160px;}
	#header-callback .callback-link:before {content:'';display:block;position:absolute;width:20px;height:20px;left:10px;top:3px;background:url(/img/sprite.png) -100px 0px no-repeat;}
	.tender-link:before {content:'';display:block;position:absolute;width:20px;height:20px;left:10px;top:3px;background:url(/img/handshake.png) 1px 1px no-repeat;}
a.button:hover {background:#fca121;}
img {display:block;max-width:100%;}
.img-wrapper {text-align:center;font-size:14px;font-family:serif;font-style:italic;}
.img-wrapper.left, img.left {float:left;margin-right:20px;margin-bottom:10px;display:block;}
.img-wrapper.right, img.right {float:right;margin-left:20px;margin-bottom:10px;display:block;}
.img-wrapper.center, img.center {display:block;margin:20px auto;}
	.img-wrapper img {margin:0 auto;}
	.img-wrapper span {display:block;padding:10px;}

.tac img {margin-left:auto;margin-right:auto;}
.small {font-size:12px;}
a.button.button-large {padding:5px 30px;font-size:18px;line-height:30px;border-radius:20px;}
/* Wordpress Native */
.wp-caption.alignleft, img.alignleft {float:left;margin-right:20px;}
.wp-caption.alignright, img.alignright {float:right;margin-left:20px;}
.wp-caption.aligncenter, img.aligncenter {margin:20px auto;}
.wp-caption.alignnone img {margin:0 auto;}
.wp-caption {padding-top:5px;width:auto !important;}
	.wp-caption img {display:block;}
.wp-caption-text {font-style:italic;text-align:center;padding:5px;font-size:16px;font-family:serif;box-sizing:border-box;margin:0;}
.video-wrapper {background:#000;position:relative;margin:0 auto;width:100%;padding-top:56.25%;}
	.video-wrapper iframe,
	.video-wrapper video {display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
/* Eexoos CSS Framework */
.tac {text-align:center;}
.tar {text-align:right;}
.h-half, .h-10 {height:10px;}
.h-one, .h-25 {height:25px;}
.h-two, .h-50 {height:50px;}
.clearbar {clear:both;height:0;}
.row {position:relative;}
	.row:after {content:'';clear:both;display:block;}
	.col {float:left;margin-left:2%;box-sizing:border-box;position:relative;}
	.col:first-child {margin-left:0;}
	.col.half {width:49%;}
	.col.two-thirds {width:66%;}
	.col.third {width:32%;}
	.col.quarter {width:23.5%;}
	.col.three-quarters {width:74.5%;}
	.col.fifth {width:18%;}
	.col.two-fifths {width:38%;}
	.col.three-fifths {width:60%;}
.block-general {background:#fff;padding:0 20px;}
/* .block-alter {background:#fff;padding:0 20px;background:#1cb1ed url(/img/bg-alter.jpg) center bottom no-repeat;background-size:cover;} */
.block-alter {background:#fff;padding:0 20px;background:#1cb1ed url(/img/bg-alter-new.png) center bottom no-repeat;background-size:cover;}
	.block-alter h1,
	.block-alter h2,
	.block-alter h3,
	.block-alter h4,
	.block-alter h5,
	.block-alter blockquote,
	.block-alter a {color:#fff;}
#bottom-form {background:#0c89c5;background:linear-gradient(#0c89c5,#00aeef);border-top:#2b404d solid 1px;}
.block-blue {color:#fff;background:#00aeef;padding:20px;}
	.block-blue strong, .block-blue a, .block-blue p {color:#fff !important;}
.block-inside {padding:0 30px;}
.tile {position:relative;background-size:contain;background-position:center center;background-repeat:no-repeat;}
.orange {color:#fe5600;}
.blue {color:#148dc7 !important;}
	.blue strong {color:#148dc7 !important;}
	.blue em {color:#148dc7 !important;}
.black {color:#000;}
.large {font-size:18px;}
.extralarge {font-size:24px;line-height:30px;}
.delimiter {clear:both;text-align:center;font-size:20px;margin:25px;color:#148dc7;}
.formulanum {color:#148dc7;}
.info {display:inline-block;padding:20px 30px 20px 55px;border-radius:10px;background:#a7d9f2;position:relative;color:#0c89c5;border:#0c89c5 solid 2px;}
	.info:before {content:'!';position:absolute;background:#fff;color:#f58220;font-weight:bold;border-radius:50%;display:block;width:25px;height:25px;left:20px;top:50%;margin-top:-12px;}
#main table {border-collapse:collapse;}
	table th, table td {padding:5px 10px;border:#148dc7 solid 1px;vertical-align:middle;text-align:center;}
	table th:first-child, table td:first-child {text-align:left;}
	table th {text-align:center;color:#fff;background:#00aeef;}
	table tr:nth-child(2n+1) td {background:#f0f0f0;}
sup {font-size:11px;position:relative;top:-5px;}
sub {font-size:11px;position:relative;bottom:-3px;}
blockquote {padding-left:20px;border-left:#1cb1ed solid 2px;}
/* Forms */
.form-wrapper {max-width:600px;}
input[type=text], input[type=tel], input[type=email], textarea, select {width:100%;padding:10px;box-sizing:border-box;border:#0c89c5 solid 1px;}
input[type=text].wpcf7-not-valid, input[type=tel].wpcf7-not-valid, input[type=email].wpcf7-not-valid, textarea.wpcf7-not-valid, select.wpcf7-not-valid {border:#f58220 solid 1px;}
a.submit,
input[type=submit] {background:none;padding:10px 30px !important;color:#148dc7;border:#148dc7 solid 2px !important;cursor:pointer;text-transform:uppercase;}
a.submit:hover,
input[type=submit]:hover {color:#148dc7;border:#148dc7 solid 2px;}
.wpcf7-response-output {box-sizing:border-box;max-width:600px;margin:0 !important;}
.form-wrapper table {margin-bottom:20px;}
	.form-wrapper table td {vertical-align:middle;}
#calc-error {background:red;color:#fff;padding:20px;text-align:center;display:none;}
#calc-do-bookmark {position:relative;}
#calc-send-order {display:none;}
	#calc-content {display:none;}
input.with-error,
textarea.with-error {border:red solid 1px !important;}
.form-row {margin-bottom:10px;}
.form-loading {padding:10px;text-align:center;font-size:16px;color:gray;display:none;}
.form-ok {padding:10px;text-align:center;font-size:16px;background:green;color:#fff;display:none;}
.form-error {padding:10px;text-align:center;font-size:16px;color:red;display:none;margin-bottom:10px;border:red dotted 1px;}
/* Collapsible */
.collapsible {position:relative;}
	.collapsible-header {padding:10px 30px;color:#000;background:#1d92cb;cursor:pointer;}
		.collapsible-title {display:inline;color:#fff;}
		.collapsible-control {display:inline;color:000;}
			.collapsible-control span  {margin-right:10px;border-bottom:#000 dotted 1px;display:inline-block;}
/* DOM */
.logo {display:block;padding-left:80px;width:200px;text-decoration:none;color:#000;line-height:15px;position:relative;}
	.logo:before {content:'';display:block;position:absolute;width:80px;height:80px;left:0;top:0;background:url(/img/sprite.png) 0 0 no-repeat;}
	.logo span {display:block;font-size:19px;color:#00aeef;text-transform:uppercase;line-height:20px;margin-bottom:5px;}
/* 		.logo span strong {color:#0c89c5;} */
		.logo span strong {color:#fff;}
		
/* 	#container {position:relative;background:url(/img/bg-container.jpg) center top no-repeat;padding:0 20px;} */
	#container {position:relative;padding:0 20px;}
		#container:before {content:'';display:block;position:absolute;left:0;top:0;right:0;height:200px;background:linear-gradient(rgba(0,91,133,1),rgba(0,91,133,0));z-index:1;}
		#callout {position:absolute;right:50%;top:-100px;background:#0c89c5;border-radius:10px;padding:10px 15px;color:#fff;font-size:12px;line-height:15px;z-index:200;width:200px;text-align:center;}
			#callout:before {content:'';position:absolute;left:-10px;top:10px;border-bottom:transparent solid 10px;border-right:#0c89c5 solid 10px;}
		#header, #top-menu, #main, #footer {max-width:1200px;margin:0 auto;box-sizing:border-box;position:relative;}
		#header {min-height:115px;position:relative;z-index:2;}
			#header .block-inside {position:relative;}
			#header .logo {position:absolute;left:20px;top:20px;color:#fff;font-size:12px;}
			#header-contacts {position:absolute;right:20px;top:18px;}
				#header-phone {font-size:26px;line-height:32px;color:#fff;padding-left:30px;position:relative;margin-bottom:10px;}
/* 					#header-phone:before {content:'';display:block;width:20px;height:20px;background:url(/img/sprite.png) -76px 0 no-repeat;position:absolute;left:0;top:7px;} */
					#header-phone:before {content:'';display:block;width:20px;height:20px;background:url(/img/icon-header-phone.png) 0 0 no-repeat;position:absolute;left:0;top:7px;}
				#header-email {font-size:16px;line-height:25px;padding-left:32px;position:relative;}
/* 					#header-email:before {content:'';display:block;width:20px;height:20px;background:url(/img/sprite.png) -75px -25px no-repeat;position:absolute;left:1px;top:1px;} */
					#header-email:before {content:'';display:block;width:20px;height:20px;background:url(/img/icon-header-email.png) 0 0 no-repeat;position:absolute;left:1px;top:2px;}
					#header-email a {color:#fff;text-decoration:none;border-bottom:#fff dotted 1px;}
					#header-email a:hover {border-bottom:transparent dotted 1px;}
			#header-callback {position:absolute;right:300px;top:20px;}
			#header-address {color:#fff;}
		#top-menu {background:#00aeef;height:140px;position:relative;z-index:10;}
			.tm-title {color:#fff;font-weight:bold;font-size:16px;padding:0 50px;line-height:25px;margin-bottom:5px;}
			#tm-01, #tm-02, #tm-03 {padding:15px 0;float:left;width:25%;position:relative;box-sizing:border-box;height:100%;}
			#tm-02:before, #tm-03:before {content:'';display:block;position:absolute;top:20px;bottom:20px;left:0;border-left:#019bd8 solid 1px;border-right:#017cb1 solid 1px;}
			#top-menu ul {list-style-type:none;line-height:25px;padding:0 50px;background:#00aeef;padding-bottom:15px;}
				#top-menu ul li a {color:#000;font-size:14px;text-decoration:none;border-bottom:#000 dotted 1px;}
	/* 			#top-menu ul li a:hover {border-bottom:transparent solid 1px;} */
				#top-menu ul li a:hover {color:#fff;border-bottom:#fff dotted 1px;}
				#top-menu ul li.ancestor a,
				#top-menu ul li.current a {color:#fff;border-bottom:none;font-weight:bold;}
			#tm-calc-link {width:25%;height:140px;display:table-cell;text-align:center;vertical-align:middle;background:#f58220;transition:all linear 0.3s;color:#fff;font-size:12px;line-height:18px;text-transform:uppercase;text-decoration:none;}
			#tm-calc-link:hover {background:#fca121;}
				#tm-calc-link span {display:inline-block;width:120px;padding-left:70px;position:relative;text-align:left;}
					#tm-calc-link span:before {content:'';width:50px;height:50px;left:0;top:0;position:absolute;background:url(/img/icon-calc.png) 0 0 no-repeat;}
					#tm-calc-link span em {border-bottom:#fff dotted 1px;font-style:normal;top:-2px;position:relative;}
					#tm-calc-link:hover span em {border-bottom:#fff dotted 1px;}
			.tm-more {font-size:14px;color:#fff;border-bottom:#fff dotted 1px;cursor:pointer;position:absolute;left:50px;bottom:10px;line-height:15px;}
			.tm-more:hover {border-bottom:transparent dotted 1px;}
				.tm-more:after {content:'';display:block;width:20px;height:15px;vertical-align:middle;background:url(/img/sprite.png) -82px -80px no-repeat;position:absolute;right:-25px;top:2px;}
			.tm-close {position:absolute;right:10px;top:10px;display:block;cursor:pointer;width:20px;height:20px;display:none;}
	/*		#tm-03 a {display:none;}
			#tm-03 ul li:nth-child(1) a {display:inline;}
			#tm-03 ul li:nth-child(2) a {display:inline;}
			#tm-03 ul li:nth-child(3) a {display:inline;}*/
			#tm-03 ul li:nth-child(4) {position:absolute;right:25px;top:45px;width:100px;}
			#tm-03 ul li:nth-child(5) {position:absolute;right:25px;top:70px;width:100px;}
			#tm-03 ul li:nth-child(6) {position:absolute;right:25px;top:95px;width:100px;}
		#main {background:#fff;padding:20px 0 0;position:relative;z-index:1;min-height:50vh;}
			#main:after {content:'';display:block;clear:both;}
			.intro-title {font-size:20px;color:#000;margin-bottom:25px;line-height:30px;}
			.intro-icon-large {display:block;margin-bottom:10px;background-color:#eee;height:300px;border:none !important;background-position:center center;background-size:cover;background-repeat:no-repeat;}
			.intro-service-item {background:#eee;min-height:520px;}
				.is-title {padding:10px 20px;}
					.is-title a {font-size:20px;line-height:25px;display:inline-block;border-bottom:#f58220 dotted 1px;}
				.intro-service-item p {padding:10px 20px;font-size:14px;line-height:20px;display:block;}
			#intro-advantages-wrapper {font-size:14px;line-height:20px;color:#555;text-align:center;}
				#intro-advantages-wrapper i {width:100px;height:100px;display:block;margin:0 auto 10px;background-image:url(/img/intro-advantages-sprite.png);background-repeat:no-repeat;}
				#ia-01 {background-position:0 0;}
				#ia-02 {background-position:-100px 0;}
				#ia-03 {background-position:-200px 0;}
				#ia-04 {background-position:-300px 0;}
				#ia-05 {background-position:-400px 0;}
				#ia-06 {background-position:0 -100px;}
				#ia-07 {background-position:-100px -100px;}
				#ia-08 {background-position:-200px -100px;}
				#ia-09 {background-position:-300px -100px;}
				#ia-10 {background-position:-400px -100px;}
			#intro-customers-wrapper {font-size:12px;line-height:15px;text-align:center;}
				#intro-customers-wrapper .icw-item {text-decoration:none;color:#777;border-bottom:none;display:block;padding:0 10px;}
				#intro-customers-wrapper .icw-item:hover {border-bottom:none;}
					#intro-customers-wrapper .icw-item i {width:180px;height:100px;margin:0 auto 10px;display:block;background-size:contain;background-position:center center;background-repeat:no-repeat;}
					#intro-customers-wrapper .icw-item span {display:block;text-align:center;}
			#intro-caption-bottom {text-align:center;display:table-cell;height:500px;vertical-align:middle;font-size:40px;line-height:50px;font-weight:bold;}
			table.why-us {width:100%;margin-bottom:25px;}
				.why-us td {padding:0 20px 20px 0;color:#000;vertical-align:middle;}
					.why-us td span {color:#f58220;font-size:40px;font-weight:bold;display:block;text-align:center;}
			.block-alter ol {list-style-type:none;counter-reset:block-alter-counter;}
				.block-alter ol li {color:#fff;margin-bottom:12px;padding-left:30px;position:relative;}
					.block-alter ol li:before {content:counter(block-alter-counter)'.';counter-increment:block-alter-counter;position:absolute;font-size:18px;font-weight:bold;color:#fff;left:0;top:0;}
			.rotator-docs-wrapper {width:100%;position:relative;text-align:center;}
				.rd-prev, .rd-next {width:50px;height:50px;position:absolute;top:50%;margin-top:-25px;background-image:url(/img/sprite.png);background-repeat:no-repeat;cursor:pointer;opacity:0.5;transition:all linear 0.3s;}
				.rd-prev:hover, .rd-next:hover {opacity:1;}
				.rd-prev {left:20px;background-position:-200px 0;}
				.rd-next {right:20px;background-position:-250px 0;}
				.rotator-docs {margin:0 auto;width:200px;height:266px;box-shadow:2px 2px 15px rgba(0,0,0,0.3);}
					.rd-item {width:160px;height:226px;border:#fff solid 20px;background-color:#fff;background-size:contain;background-position:center center;}
			.advantages {position:relative;}
				.advantages:before {content:'';display:block;position:absolute;height:100%;z-index:1;top:0;width:50%;left:25%;border-left:#eee solid 2px;border-right:#eee solid 2px;}
				.advantages:after {content:'';display:block;position:absolute;height:100%;z-index:1;top:0;left:50%;margin-left:-1px;width:2px;background:#eee;}
				.a-item {padding-left:35px;position:relative;margin-bottom:12px;color:#000;}
					.a-item:before {content:'';display:block;position:absolute;left:5px;top:-1px;width:25px;height:25px;background:url(/img/sprite.png) -75px -50px no-repeat;}
			.testimonials-rotator-wrapper {position:relative;padding:25px 100px;}
				.tr-prev, .tr-next {width:50px;height:50px;position:absolute;top:50%;margin-top:-25px;background-image:url(/img/sprite.png);background-repeat:no-repeat;cursor:pointer;}
				.tr-prev {left:20px;background-position:-300px 0;}
				.tr-next {right:20px;background-position:-350px 0;}
				.testimonials-rotator {position:relative;border:#ccc solid 1px;border-radius:10px;}
					.testimonials-rotator:before {border-left:#ccc solid 20px;content:'';position:absolute;border-top:transparent solid 20px;content:'';top:-20px;left:100px;}
					.testimonials-rotator:after {border-left:#fff solid 20px;content:'';position:absolute;border-top:transparent solid 20px;content:'';top:-18px;left:101px;}
				.tr-item {position:relative;padding:20px 30px 20px;}
					.tr-item-title {color:#000;}
					.tr-item-sub-title {color:#000;font-size:14px;}
					.tr-item-text {margin-top:12px;line-height:20px;font-style:italic;}
			.item-project {position:relative;}
				.item-project-thumb {display:block;background-color:#eee;height:180px;border-bottom:none !important;background-repeat:no-repeat;background-position:center center;background-size:cover;}
				.item-project-title {margin-bottom:12px;padding:10px 10px 20px;background:rgba(0,0,0,0.5);background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));line-height:15px;}
					.item-project-title a {text-decoration:none;font-size:13px;line-height:18px}
				.item-project-excerpt {font-size:12px;line-height:16px;}
				.block-alter .item-project-title {color:#fff;}
					.block-alter .item-project-title a {color:#fff !important;border-bottom:#fff dotted 1px !important;}
					.block-alter .item-project-title a:hover {border-bottom:transparent dotted 1px !important;}
				.block-alter .item-project-excerpt {color:#000;}
			.sidebar {width:23%;float:left;padding-left:20px;margin-right:2%;}
				.sidebar-title {padding:12px 0 12px 40px;margin-bottom:12px;}
					.sidebar-title h3 {margin-bottom:0;}
					.st-company {background:url(/img/icon-category-company.png) 0 center no-repeat;}
					.st-services {background:url(/img/icon-category-services.png) 0 center no-repeat;}
					.st-vent {background:url(/img/icon-category-vent.png) 0 center no-repeat;}
					.st-cond {background:url(/img/icon-category-cond.png) 0 center no-repeat;}
					.st-heat {background:url(/img/icon-category-heat.png) 0 center no-repeat;}
					.st-calc {background:url(/img/icon-category-calc.png) 0 center no-repeat;}
						.st-calc h3 {font-size:14px;}
				.sidebar-menu {margin-bottom:25px;}
					.sidebar-menu ul {list-style-type:none;}
						.sidebar-menu ul li {margin-bottom:12px;}
							.sidebar-menu ul li.ancestor>a,
							.sidebar-menu ul li.current>a {border-bottom:transparent solid 1px !important;color:#f58220 !important;}
							.sidebar-menu ul ul {display:none;}
								.sidebar-menu li.ancestor ul,
								.sidebar-menu li.current ul {display:block;padding:10px 0 0 20px;}
								.sidebar-menu ul ul a {line-height:20px;font-size:14px;display:inline !important;color:#000 !important;border-bottom:#000 dotted 1px !important;}
			.content {overflow:hidden;box-sizing:border-box;padding-right:20px;position:relative;}
				.content strong {color:#000;}
				.content table {width:100%;}
				.content ul {list-style-type:none;}
					.content ul ul {margin-top:20px;}
					.content ul li {padding-left:35px;position:relative;margin-bottom:25px;}
						.content ul li:before {content:'';display:block;position:absolute;left:0;top:0;width:25px;height:25px;background:url(/img/sprite.png) -75px -50px no-repeat;}
						.content .list-minus ul li:before {content:'—';display:block;position:absolute;left:0;top:0;width:25px;height:25px;background:none;}
						.content .pro ul li:before,
						.content ul.pro li:before {background:url(/img/svg/marker-pro.svg) 2px 3px no-repeat;}
						.content .contra ul li:before,
						.content ul.contra li:before {background:url(/img/svg/marker-contra.svg) 2px 3px no-repeat;}
			.content ol {list-style-type:none;counter-reset:block-alter-counter;}
				.content ol li {margin-bottom:25px;padding-left:40px;position:relative;}
					.content ol li:before {content:counter(block-alter-counter);counter-increment:block-alter-counter;position:absolute;font-size:16px;font-weight:bold;color:#035391;left:0;top:0;width:20px;line-height:20px;border:#035391 solid 2px;text-align:center;}
				#breadcrumbs {font-size:12px;padding:10px 0;color:#999;border-bottom:#ccc solid 1px;margin-bottom:25px;}
					#breadcrumbs a {border-bottom:none !important;}
						#breadcrumbs a span {color:#999;border-bottom:none;}
					#breadcrumbs span {color:#000;}
			table#aboutindigits td {border:none;background:none;text-align:left;color:#fff;}
			.about-in-digits td {vertical-align:middle;padding:0 20px 30px 0;color:#000;font-size:14px;line-height:20px;}
				.about-in-digits td strong {display:block;width:50px;height:50px;line-height:50px;text-align:center;color:#fff;font-size:26px;font-weight:bold;border:#fff solid 3px;}
			.block-calc-gray {background:#f2f2f2;padding:30px;line-height:40px;}
				.calc-checkbox, .calc-system-type, .calc-building-type, .calc-bassein-type, .calc-bassein-vent-type, .calc-office-insolation {padding-left:35px;cursor:pointer;position:relative;}
				.calc-checkbox.active, .calc-system-type.active, .calc-building-type.active, .calc-bassein-type.active, .calc-bassein-vent-type.active, .calc-office-insolation.active {color:#000;}
					.calc-checkbox:before, .calc-system-type:before, .calc-building-type:before, .calc-bassein-type:before, .calc-bassein-vent-type:before, .calc-office-insolation:before {width:16px;height:16px;border:#999 solid 1px;background:#fff url(/img/svg/checkbox.svg) -20px 0 no-repeat;content:'';display:block;position:absolute;left:0;top:50%;margin-top:-9px;}
					.calc-checkbox.active:before, .calc-system-type.active:before, .calc-building-type.active:before, .calc-bassein-type.active:before, .calc-bassein-vent-type.active:before, .calc-office-insolation.active:before {border:#0c89c5 solid 1px;background:#fff url(/img/svg/checkbox.svg) 0 0 no-repeat;}
					.calc-system-type svg {margin-left:10px;display:inline-block;vertical-align:top;position:relative;top:10px;width:20px;height:20px;}
						.calc-system-type svg path {fill:#1e91c9;}
				.calc-delimiter {background:#1d92cb;height:2px;margin:20px 0 30px;}
				.calc-title {font-size:18px;color:#000;font-weight:bold;}
					.calc-title:after {content:'*';color:#fb9d76;}
					.calc-notes {font-size:12px;font-weight:normal;line-height:15px;}
			.block-calc-light-blue {background:#a7d9f2;padding:30px;color:#000;font-size:14px;line-height:20px;}
				.block-calc-light-blue .button {display:block;text-align:center;line-height:30px;margin-top:5px;}
			.block-calc-dark-blue {background:#0c89c5;color:#fff;padding:30px;}
			.block-calc-light-blue a, .block-calc-dark-blue a {color:#fff !important;border-bottom-color:#fff !important;}
				#total {text-align:right;padding:5px 50px;color:#000;margin-top:10px;background:#f58220;}
					#total-value {}
			/* Gallery */
			#gallery-chapter-by-object {line-height:40px;}
				#gallery-chapter-by-object a {margin:0 5px 0 0;padding:5px;background:#eee;border-radius:5px;border:none;white-space:nowrap;}
					#gallery-chapter-by-object a span {border-bottom:#1d92cb dotted 1px;}
				#gallery-chapter-by-object a:hover {border:none;}
					#gallery-chapter-by-object a:hover span {border-bottom:#f60 dotted 1px;}
				#gallery-chapter-by-object a.current {color:#fff;background:#f58220;}
					#gallery-chapter-by-object a.current span {border-bottom:#fff dotted 1px;}
			.gal-item {background:#fff;text-decoration:none;color:#333 !important;font-family:serif;display:block;font-style:italic;font-size:14px;text-align:center;line-height:18px;border-bottom:none !important;text-align:center;}
				.gal-item .caption {display:block;padding:10px;}
			.gallery-icon {width:260px;border:none !important;}
				.gallery-icon a {width:260px;border:none !important;}
				.gallery-icon img {width:260px;border:none !important;}
				.gallery-caption {width:260px;font-size:12px;line-height:15px;padding:5px 10px;background:#eee;box-sizing:border-box;}
			.custom-gallery-wrapper {position:relative;font-size:0;margin-right:-20px;}
				.custom-gallery-item {width:270px;height:200px;margin:0 20px 10px 0;display:inline-block;border-bottom:none !important;background-size:cover;background-position:center center;background-repeat:no-repeat;}
			a.item {display:block;text-decoration:none;border-bottom:none !important;}
				.item-thumb {height:200px;background-color:#eee;background-size:cover;background-position:center center;background-repeat:no-repeat;}
				.item-caption {background:#0c89c5;color:#fff;padding:10px;line-height:18px;font-size:13px;transition:all linear 0.3s;}
					.item-caption span {border-bottom:#fff dotted 1px;}
					.item:hover .item-caption span {border-bottom:transparent solid 1px;}
					.item:hover .item-caption {background:#f58220;}
			.calc-item-error {margin:20px;padding:10px;border:#f58220 solid 2px;color:#f58220;text-align:center;font-weight:bold;display:none;}
			.with-error .calc-item-error {display:block;animation: blinker 2s linear infinite;}
			.room-count {width:100px !important;font-size:20px !important;font-weight:bold;text-align:center;vertical-align:middle;user-select:none;}
			.room-count-inc, .room-count-dec {display:inline-block;width:36px;height:36px;vertical-align:middle;margin:0 5px;cursor:pointer;position:relative;user-select:none;-webkit-user-select:none;}
				.room-count-inc:before, .room-count-dec:before {content:'';display:block;position:absolute;left:50%;top:50%;margin-left:-12px;margin-top:-2px;width:24px;height:4px;background:#777;}
				.room-count-inc:after {content:'';display:block;position:absolute;left:50%;top:50%;margin-left:-2px;margin-top:-12px;width:4px;height:24px;background:#777;}
				.room-count-inc:hover:before, .room-count-dec:hover:before, .room-count-inc:hover:after {background:#000;}
			#calc-cond-error {border:gold solid 2px;padding:10px;color:gold;text-align:center;margin:10px;display:none;animation: blinker 2s linear infinite;}
			@keyframes blinker { 50% { opacity: 0.3; } }
			#calc-cond-result {display:none;}
				#calc-cond-result table {width:100%;}
				#calc-cond-result tr td {background:#f0f0f0;color:#000;}
				#calc-cond-result tr th {background:#ccc;color:#000;}
				#calc-cond-result tr:nth-child(2n+1) td {background:#e0e0e0;color:#000;}
				#calc-cond-result table th, #calc-cond-result table td {border:#000 dotted 1px;padding:5px 10px;text-align:center;vertical-align:middle;}
				#calc-cond-result table th, #calc-cond-result table td:last-child {white-space:nowrap;}
				#calc-cond-result tr:last-child td {background:#fca121 !important;color:#000;}
	/*			#calc-cond-result tr:nth-child(2n+1) th,
				#calc-cond-result tr:nth-child(2n+1) td {background:rgba(0,0,0,0.2);}*/
				#calc-cond-result tr:last-child td:first-child {text-align:right;}
			#calc-vent-result {position:relative;}
				#calc-vent-result table {width:100%;}
				#calc-vent-result tr td {background:#f0f0f0;color:#000;}
				#calc-vent-result tr th {background:#ccc;color:#000;}
				#calc-vent-result tr:nth-child(2n+1) td {background:#e0e0e0;color:#000;}
				#calc-vent-result table tr td:nth-child(2) {text-align:left;}
				#calc-vent-result table tr:last-child td:nth-child(2) {text-align:center;font-weight:bold;}
				#calc-vent-result table th, #calc-vent-result table td {border:#000 dotted 1px;padding:5px 10px;text-align:center;vertical-align:middle;}
				#calc-vent-result table th, #calc-vent-result table td:last-child {white-space:nowrap;}
				#calc-vent-result tr:last-child td {background:#fca121 !important;color:#000;}
	/*			#calc-vent-result tr:nth-child(2n+1) th,
				#calc-vent-result tr:nth-child(2n+1) td {background:rgba(0,0,0,0.2);}*/
				#calc-vent-result tr:last-child td:first-child {text-align:right;}
			#calc-bassein-result {display:none;position:relative;}
				#calc-bassein-result table {width:100%;}
				#calc-bassein-result tr td {background:#f0f0f0;color:#000;}
				#calc-bassein-result tr th {background:#ccc;color:#000;}
				#calc-bassein-result tr:nth-child(2n+1) td {background:#e0e0e0;color:#000;}
				#calc-bassein-result table tr td:nth-child(1) {text-align:left;}
				#calc-bassein-result table tr td:nth-child(2) {text-align:center;}
				#calc-bassein-result table tr td:nth-child(3) {text-align:center;font-weight:bold;}
				#calc-bassein-result table th, #calc-bassein-result table td {border:#000 dotted 1px;padding:5px 10px;text-align:center;vertical-align:middle;}
			#calc-office-result {display:none;position:relative;}
				#calc-office-result table {width:100%;}
				#calc-office-result tr td {background:#f0f0f0;color:#000;}
				#calc-office-result tr th {background:#ccc;color:#000;}
				#calc-office-result tr:nth-child(2n+1) td {background:#e0e0e0;color:#000;}
				#calc-office-result table tr td:nth-child(1) {text-align:left;}
				#calc-office-result table tr td:nth-child(2) {text-align:center;}
				#calc-office-result table tr td:nth-child(3) {text-align:center;font-weight:bold;}
				#calc-office-result table th, #calc-office-result table td {border:#000 dotted 1px;padding:5px 10px;text-align:center;vertical-align:middle;}

			.offtest-table {border-collapse:collapse;}
				.offtest-table td {border:#ccc solid 1px;padding:10px;background:#f9f9f9;vertical-align:top;font-size:12px;line-height:18px;}
				.offtest-thumb {width:140px;height:140px;background-position:center center;background-repeat:no-repeat;background-size:contain;}
				.offtest-scan {width:140px;height:auto !important;max-height:300px !important;max-width:150px !important;display:block;box-shadow:3px 3px 5px rgba(0,0,0,0.5);}
			.wp-pagenavi span,
			.wp-pagenavi a {display:inline-block;padding:5px;margin:5px;}
			/* Calc Node Page */
			.wrapper-fancy-calc {text-align:center;}
	/* 			.fancy-calc-item {display:inline-block;margin:0 20px;height:160px;width:220px;border:#00aeef solid 2px !important;border-radius:3px;box-shadow:0 0 2px #00aeef;font-size:12px;line-height:18px;color:#000 !important;padding:10px;transition:all linear 0.3s;} */
				.fancy-calc-item {display:inline-block;margin:0 20px;height:160px;width:220px;background:linear-gradient(#f0f0f0,#e0e0e0);border-radius:10px;box-shadow:0px 2px 5px rgba(0,0,0,0.5);border:none !important;font-size:12px;line-height:18px;color:#000 !important;padding:10px;transition:all linear 0.3s;}
				.fancy-calc-item:hover {background:linear-gradient(#f9f9f9,#ccc);}
					.fci-thumb {display:block;margin:0 auto 5px;height:100px;width:140px;background-image:url(/img/calc-sprite.png);background-repeat:no-repeat;}
					#fci-thumb-01 {background-position:20px 0;}
					#fci-thumb-02 {background-position:-205px 0;}
					#fci-thumb-03 {background-position:-430px 0;}
					#fci-thumb-04 {background-position:-655px 0;}
					.fci-title {font-weight:bold;font-size:18px;margin-top:10px;}
	/* 			.fancy-calc-item:hover {border:#f58220 solid 2px !important;box-shadow:0 0 2px #f58220;} */
		#block-performed {max-width:1160px;margin:0 auto;overflow:hidden;}
			#bp-carousel {position:relative;}
				#bp-carousel .cycle-slideshow {height:270px;width:1160px !important;}
				.item-carousel {width:250px;padding:0 20px;vertical-align:top;}
					.item-project {display:block !important;white-space:normal !important;}
				#bp-prev, #bp-next {position:absolute;top:120px;z-index:100;display:block;width:40px;height:40px;}
				#bp-prev {left:-20px;}
				#bp-next {right:-20px;}
				#bp-pager {padding:0 20px;}
					#bp-pager span {vertical-align:middle;font-size:30px;color:rgba(255,255,255,0.5);margin:2px;transition:all linear 0.3s;cursor:pointer;}
					#bp-pager span:hover {color:#fff;}
					#bp-pager span.cycle-pager-active {color:#fff;}
		#bottom-form {color:#fff;padding:50px;max-width:1100px;margin:0 auto;}
			#bottom-form h2 {text-align:center;color:#fff;font-size:32px;line-height:35px;text-transform:none;}
			#bottom-form blockquote {font-size:20px;padding:0 10%;border-left:none;}
			#bottom-form ul {padding-left:50px;}
			#bottom-form a.submit  {border:none !important;padding:6px !important;display:block;color:#fff;width:100%;box-sizing:border-box;text-align:center;background:#f58220;border-radius:5px;border:none;transition:all linear 0.3s;cursor:pointer;font-size:14px;text-transform:uppercase;}
			#bottom-form a.submit:hover {background:#f60;}
		#footer {position:relative;color:#fff;}
			#searchform {width:190px;border:#1d92cb solid 2px;position:relative;}
				#s {width:160px;padding:10px;background:none;color:#fff;border:none;outline:none !important;}
				#searchsubmit {width:36px !important;height:36px !important;position:absolute;top:0;right:0;padding:0 !important;display:block;border:none;outline:none !important;background:url(/img/icon-magnifier.png) 0 0 no-repeat;}
			#footer .logo {color:#fff;font-size:11px;}
			#footer-top {background:#2b404d;padding:20px;}
				#footer-phone {padding-left:80px;position:relative;}
				#footer-email, #footer-address, #footer-working-hours {font-size:12px;color:#fff;}
					#footer-email a {color:#fff;border-bottom:#fff dotted 1px;text-decoration:none;}
					#footer-email a:hover {border-bottom:transparent solid 1px;}
				#footer-top ul {list-style-type:none;font-size:13px;}
			#footer-bottom {padding:15px;text-align:center;font-size:12px;color:#2b404d;}
	.hidden-popups {}
		.popup-overlay {display:none;position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.9);z-index:1000;overflow:auto;}
			.popup-general {display:none;max-width:380px;margin:10vh auto;background:#fff;border:#0c89c5 solid 4px;padding:25px 50px;position:relative;}
				.popup-close {position:absolute;width:25px;height:25px;right:0;top:0;background:#0c89c5;text-align:center;cursor:pointer;}
					.popup-close svg {margin:1px 3px;}
				.popup-title {font-size:24px;line-height:50px;padding-left:40px;color:#0c89c5;margin-bottom:25px;}
				.popup-title-callback {background:url(/img/icon-callback.png) left center no-repeat;}
				.popup-title-tender {background:url(/img/icon-handshake.png) left center no-repeat;}

#nav, #nav-link, #to-top {display:none;}
#nav-link svg, #to-top svg {display:none;}
				
@media screen and (max-width:1200px) {
	#header .logo {font-size:10px;}
/* 		#header .logo span {font-size:16px;} */
	#header-phone {font-size:19px;font-weight:bold;}
	#header-email {font-size:13px;}
	#header-address {font-size:10px;}
	.tm-title {padding:0 20px;}
	#top-menu ul {padding:0 20px;}
	#tm-01, #tm-02 {width:22%;}
	#tm-03 {width:31%;}
	#bp-carousel .cycle-slideshow {height:270px;width:860px !important;margin:0 auto;}
		.item-carousel {width:200px;padding:0 10px;vertical-align:top;}
	#footer .logo {font-size:10px;}
		#footer .logo span {font-size:16px;}
	#footer-phone, #footer-address,
	#footer-working-hours, #footer-email {font-size:11px;}
}
@media screen and (max-width:1000px) {
	body {font-size:14px;line-height:20px;}
	.mobile-hide {display:none !important;}
	.mobile-show {display:block !important;}
	.large {font-size:16px;}
	h1 {font-size:22px;line-height:25px;}
	h2 {font-size:20px;line-height:25px;}
	h3 {font-size:18px;}
	h4 {font-size:16px;}
	.col {width:100% !important;margin-left:0 !important;}
	#container {padding:0;max-width:600px;}
/* 	#header {position:relative;padding:10px 0 0;background:#fff;} */
	#header {position:relative;padding:10px 0;height:160px !important;}
		#header .logo {top:10px;left:10px;overflow:hidden;height:40px !important;}
			#header .logo:before {height:40px !important;}
		#header-contacts {right:20px;top:0;}
/* 			#header-phone {margin-bottom:0;color:#000;} */
			#header-phone {margin-bottom:0;color:#fff;}
			#header-address {position:absolute;top:62px;right:20px;}
/* 				#header-phone:before {content:'';display:block;width:20px;height:20px;background:url(/img/sprite.png) -76px 0 no-repeat;position:absolute;left:0;top:7px;} */
/* 				#header-email:before {content:'';display:block;width:20px;height:20px;background:url(/img/sprite.png) -75px -25px no-repeat;position:absolute;left:1px;top:1px;} */
/* 				#header-email a {color:#000;border-bottom:#000 dotted 1px;} */
	#top-menu {height:auto;margin:0;}
		#tm-01, #tm-02, #tm-03 {display:none;}
		#tm-calc-link {height:50px;line-height:25px;position:absolute;top:-60px;width:auto !important;left:140px;right:20px;display:block;padding:0;border-radius:5px;height:40px;}
			#tm-calc-link span {padding:8px 0 0;font-size:11px;line-height:15px;width:auto;display:block;text-align:center;}
				#tm-calc-link span:before {display:none;}
				#tm-calc-link span em {border-bottom:none;display:block;padding:0 5px;}
	#header {height:120px;}
		#header-callback {top:90px;right:170px;left:60px;height:40px !important;}
			.callback-link {width:auto !important;width:40px;height:37px;}
				.callback-link span {display:none !important;}
				.callback-link:before {width:20px;height:20px;position:absolute;left:50% !important;top:50% !important;margin-left:-12px !important;margin-top:-12px !important;right:auto;bottom:auto;}
			.tender-link {display:none !important;}
/* 		.logo span strong {color:#0c89c5;}  */
	.intro-title {text-align:center;font-size:14px;}
		.intro-title h1 {font-size:16px;}
	#main {max-width:600px;margin:0 auto;}
		.sidebar {float:none;width:100%;position:relative;margin-top:-20px;border-top:#1e91c9 solid 2px;border-bottom:#1e91c9 solid 2px;overflow:hidden;width:100%;box-sizing:border-box;}
			.sidebar-title {margin:0;cursor:pointer;position:relative;}
				.sidebar-title:after {content:'';display:block;position:absolute;right:20px;top:50%;margin-top:-2px;border-top:#999 solid 6px;border-left:transparent solid 6px;border-right:transparent solid 6px;}
				.sidebar-title.active:after {border-top:none;border-bottom:#999 solid 6px;margin-top:-4px;}
			.sidebar-menu {display:none;}
				.sidebar-menu ul {margin-top:20px;}
					.sidebar-menu ul ul {margin-top:0;}
		.content {padding:0 20px 20px;}
	#bottom-intro-image {width:140px;}
	#intro-caption-bottom {font-size:14px;padding:0 10px;text-align:center;height:auto;text-align:center;color:#fff !important;background:#148dc7;width:100% !important;box-sizing:border-box;display:block;}
		#intro-advantages-wrapper .col {text-align:left;position:relative;display:table;}
		#intro-advantages-wrapper i {display:table-cell;}
		#intro-advantages-wrapper span {display:table-cell;vertical-align:middle;}
		#intro-advantages-wrapper .h-50 {display:none;}
	.fancy-calc-item {margin:0 auto 30px;}
	#intro-testimonials-title {text-align:center;}
	.testimonials {padding:0 !important;}
		.testimonials-rotator-wrapper {padding:20px 0;}
			.tr-item {padding:0;}
				.tr-item table.offtest-table {border:none;background:none !important;}
					.tr-item table td {border:none;background:none !important;text-align:center;font-size:11px;line-height:15px;}
						.tr-item table td img {margin:0 auto;display:block;}
						.offtest-thumb {width:40px;height:40px;margin:10px auto;}
			.tr-prev, .tr-next {top:-35px;}
			.tr-prev {left:0;}
			.tr-next {right:0;}
	.offtest-table {display:block;}
		.offtest-table tr {display:block;}
			.offtest-table td {display:block;}
				.offtest-table td img {margin:0 auto;}
	.rd-prev {left:-15px;}
	.rd-next {right:-15px;}
	.table-wrapper {overflow-x:auto;}
	#aboutindigits {display:block;margin:0 auto;}
		#aboutindigits tbody {display:block;margin:0 auto;width:100%;}
		#aboutindigits tr {display:block;text-align:center;width:100%;}
			#aboutindigits td {display:block;text-align:center !important;width:100%;padding:5px !important;}
				#aboutindigits td strong {margin:0 auto;display:block;}
	#intro-customers-wrapper .col.quarter {width:25% !important;}
		#intro-customers-wrapper .col.quarter i {max-width:80%;margin:10px auto;height:30px;}
		#intro-customers-wrapper .col.quarter span,
		#intro-customers-wrapper .col.quarter .h-25 {display:none;}
	#block-performed {width:100%;box-sizing:border-box;}
		#bp-carousel .cycle-slideshow {height:270px;width:220px !important;margin:0 auto;}
			.item-carousel {width:220px;padding:0 10px;vertical-align:top;}
			#bp-pager {display:none;}
	#bottom-form {padding:20px;}
		#bottom-form h2 {font-size:14px;line-height:20px;margin-bottom:10px;}
		#bottom-form blockquote {font-size:12px;line-height:20px;margin-bottom:10px;padding:0;}
			#bottom-form .form-content .col {padding-bottom:10px;}
			#bottom-form .h-25 {display:none;}
	#callout:before {display:none;}
	.calc-system-type {margin-bottom:20px;}
		.calc-system-type svg {width:40px;height:40px;top:-5px;}
	#footer {text-align:center;}
		#footer .logo {display:inline-block;text-align:left;margin-bottom:20px;}
		#footer-address-row {text-align:center !important;}
			#footer-address-row .col {float:none;display:inline-block !important;width:auto !important;margin:0 5px !important;line-height:20px;}
				#footer-phone {margin:0;padding:0;}
		#footer h5 {text-transform:uppercase;font-weight:normal;border-top:rgba(255,255,255,0.5) dotted 1px;padding:10px;position:relative;margin-bottom:0 !important;color:#fff;}
			#footer h5:after {content:'';display:block;position:absolute;right:10px;top:18px;border-top:#fff solid 5px;border-left:transparent solid 5px;border-right:transparent solid 5px;}
			#footer h5.active:after {border-top:none;border-bottom:#fff solid 5px;top:17px;}
		#footer ul {display:none;}
		#footer ul.active {display:block;}
		#footer .mobile-show ul {display:block;}
			#footer ul li a {display:block;padding:10px;text-transform:uppercase;border:none;border-top:#1d92cb dotted 1px;}
	#nav {display:block;z-index:200;position:fixed;top:-100px;left:0;bottom:0;overflow:auto;background:#0c89c5;padding:160px 0 30px 0;width:0;transition:all linear 0.3s;}
		#nav.active {padding:160px 30px 30px 30px;width:200px;box-shadow:-3px 0 5px rgba(0,0,0,0.2);}
		#nav-inside {display:none;}
		#nav ul {list-style-type:none;}
			#nav li a {display:block;padding:10px 0;font-size:14px;color:#fff;color:rgba(255,255,255,0.8);text-decoration:none;text-transform:uppercase;}
			#nav li.current>a {color:#fff;}
			#nav ul ul li a {font-size:12px;padding:5px 10px;}
				#nav ul ul li a span {border-bottom:#fff dotted 1px;}
	#nav-link {display:block;width:40px;height:40px;left:10px;top:100px;position:absolute;border-radius:5px;background:#0c89c5;z-index:200;cursor:pointer;}
	#nav-link.fixed {top:10px;position:fixed;}
	#nav-link.active {top:10px;position:fixed;left:10px !important;margin-left:0;}
		#nav-link svg {width:40px;height:40px;display:block;}
			#nav-link svg line {fill:none;stroke:#fff;stroke-width:4;stroke-linecap:round;}
				#nav-link-idle {display:block;}
				#nav-link-active {display:none;}
				#nav-link.active #nav-link-idle {display:none;}
				#nav-link.active #nav-link-active {display:block;}
	#to-top {display:none;width:40px;height:40px;right:10px;bottom:10px;position:fixed;border-radius:5px;background:rgba(43,64,77,0.5);z-index:200;cursor:pointer;}
		#to-top svg {width:40px;height:40px;display:block;}
	
	.popup-general {margin:0 auto;padding:20px;width:auto !important;}
		.popup-title {font-size:14px;}
}

@media screen and (max-width:420px) {
	#header .logo {width:0;}
	#header .logo span {display:none;}
}
@media screen and (min-width:420px) and (max-width:1000px) {
	.item {max-width:300px;margin:0 auto;}
	#header .logo {width:200px !important;}
	#header .logo span {display:block;}
	#tm-calc-link {left:220px;}
		#tm-calc-link em {padding:0 20px !important;display:block;}
/* 		#tm-calc-link em {line-height:30px;} */
	.callback-link {left:5px;width:130px !important;right:auto !important;padding:13px 5px !important;height:14px !important;}
		.callback-link:before {display:none !important;}
		.callback-link span {display:block !important;font-size:11px !important;border:none !important;text-align:center;}
}
@media screen and (min-width:500px) and (max-width:1000px) {
		#tm-calc-link em {padding:0 50px !important;display:block;}
}
@media screen and (min-width:600px) and (max-width:1000px) {
	#container {margin:0 auto;max-width:560px;}
	#nav-link {left:50% !important;margin-left:-265px;top:100px;}
		#tm-calc-link em {line-height:30px;padding:0 20px !important;}
}

@media screen and (min-width:1000px) {
	/* Collapsible */
	.collapsible-header {padding-right:150px;}
		.collapsible-control {display:block;position:absolute;right:20px;top:10px;}
	.sidebar-title {background-color:#f0f0f0;border-left:#f0f0f0 solid 10px;border-radius:5px 5px 0 0;margin-bottom:0;}
	.st-cond h3 {font-size:14px !important;}		
	.sidebar-menu {border:#ccc dashed 1px;border-radius:3px;padding:10px 20px;border-top:none;}
	#header-address {left:300px;position:absolute;width:100px;line-height:20px;top:20px;}
		#header-address-title {font-size:20px;font-weight:bold;display:block;line-height:30px;}
		#header-address-subtitle {font-size:10px;display:block;}
	#footer h5 {color:#fff;font-weight:normal;text-transform:uppercase;}
}

@media screen and (min-width:1100px) {
	#header-address {right:50%;left:auto;position:absolute;width:20%;top:30px;}
		#header-address-title {font-size:20px;font-weight:bold;display:block;line-height:30px;}
		#header-address-subtitle {font-size:14px;display:block;}
	#footer ul {display:block !important;transition:none !important;}
	#footer ul.active {display:block !important;}
}
