.loginFrm{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
.loginFrm .el_data{
    margin: 1.5rem 0;
}
.loginFrm .button{
    margin: 1rem auto;
}
.note{
    font-weight: 200;
    font-size: small;
}
.promo a{
    color: var(--blue);
}
.agree a{
    text-decoration: underline;
}

.deleteProfile{
    background: var(--grey);
    color: white;
    float: right;
    margin-top: -54px;
}
.deleteProfile:hover{
    background: var(--orange);
}

.countUsers{
    text-align: center;
    font-size: smaller;
}

#found_users img{
    height: 35px;
    margin: 0 auto;
    display: none;
}

select.error ~ .el_data,
input.error, textarea.error,
input[type=checkbox].error ~ span{
    border: 1px solid #f59e9e !important;
    background: #fafad8;
}

.correspondence{
    margin: -10px 0 20px 0;
    border: 1px solid #bdbdbd;
    width: 100%;
    padding: 10px;
    max-height: 150px;
    overflow: auto;
}

.correspondence p{
    margin-bottom: 10px;
}

.correspondence p span{
    font-weight: 200;
    color: #446196;
}

.activity .item{
    margin-bottom: 40px;
}

.activity .link a{

    border-bottom: solid 1px var(--blue);
}
.activity .link a:hover{
    border-bottom: solid 1px var(--orange);
}

.dt-search label, .dt-search input{
    display: inline;
}

.userGroups_hide ~ .el_data{
    display:none;
}

.user_count{
    color: #808080;
    text-align: end;
    font-weight: 100;
    font-size: 90%;
}

.user_profile_link{
    position: relative;

}
.user_profile_link.marked:after{
    content: "";
    right: -8px;
    top: 0;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background: var(--orange);
}

@media (max-width: 768px) {
    .loginFrm{
        width: 100%;
    }
}