@charset "utf-8";
/*custom select input*/

.el_data {
    position: relative;
    /*! padding: 0 0.5rem; */
    display: flex;
    align-items: center;
    /*! max-width: 33.3333%; */
    /*! width: 33.3333%; */
    min-width: 15rem;
    /*! margin: 0; */
    font-size: 0.875rem;
    font-weight: 500;
    user-select: none;
}

.el_data.disabled .el_select {
    /*! opacity: 0.6; */
    /*! background: var(--black); */
    cursor: no-drop;
    border-color: var(--light-grey);
    color: var(--black);
}

.el_data.required .el_select {
    border-color: var(--orange);
}

.el_data label {
    font-size: 0.75rem;
    /*! opacity: 0.75; */
    position: absolute;
    top: -0.75rem;
    background: white;
    left: 0.5rem;
    padding: 0 0.25rem;
    color: grey;
    font-weight: 400;
    /*! background: antiquewhite; */
    /*! line-height: 0.875rem; */
    z-index: 1;
}

.el_data select {
    display: none;
}

.el_data .el_input, .el_data .el_select {
    border: solid 1px var(--grey);
    padding: 0.75rem 0.75rem;
    border-radius: var(--radius);
    /*! cursor: pointer; */
    /*! font-size: inherit; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*! height: calc(2.7rem - 2px); */
    align-items: center;
    color: var(--main);
    /*! max-width: 33.3333%; */
}

.el_data input:focus {
    border-color: var(--main);
    transition: ease-in-out 0.3s;
    /*! background-color: rgb(255, 245, 231); */
}

.el_data input:disabled {
    background: white;
    color: var(--black);
    border-color: var(--light-grey);
}

.el_data input:-moz-ui-invalid {
    border-color: var(--orange);
    box-shadow: none;
}

.el_data input:focus:invalid {
    border-color: var(--orange);
    box-shadow: none;
}

.el_data input:focus:required:invalid {
    border-color: var(--orange);
    box-shadow: none;
}

.el_data .el_textarea {
    padding: 0.75rem;
    border-radius: var(--radius);
    border: solid 1px var(--grey);
    width: 100%;
    transition: ease-in-out 0.3s;
    font-family: inherit;
    /*! font-size: 0.85rem; */
    min-width: 100%;
    max-width: 100%;
    resize: vertical;
}

.el_textarea:disabled {
    background: white;
}

.el_data .el_textarea:focus {
    border-color: var(--main);
}

.el_data.file .el_input {
    padding: 0.61rem;
}

.el_data .el_select {
    cursor: pointer;
    height: auto;
    /*! min-height: 2.7rem; */
    padding: 0 2.25rem 0 0;
    /*! background: aquamarine; */
    width: 100%;
    /*! padding-right: 2rem; */
}

.el_data .el_select.single {
    /*! height: 2.7rem; */
    flex-flow: nowrap;
    overflow: hidden;
}

.el_data .el_select .select_row {
    /*border: solid 1px var(--light-grey);*/
    padding: 0.5rem;
    border-radius: var(--radius);
    /*! background: var(--light-grey); */
    display: flex;
    font-size: inherit;
    /*! margin-right: 0.25rem; */
    /*! margin: 0; */
    /*! top: 0; */
    /*! margin-bottom: 0.25rem; */
    /*! height: calc(2rem - 1px); */
    align-items: center;
    margin: 0.25rem;
    z-index: 1;
}

.el_data .el_select.multiple .select_row {
    /*! border: solid 3px white; */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-right: 2rem;
    background: var(--light-grey);
}

.el_data .el_select .select_row span {
    margin-left: 0.25rem;
    /*! font-size: 1.2rem; */
    line-height: 0.875rem;
    color: var(--grey);
    transition: ease-in-out 0.3s;
    right: 0;
    position: absolute;
    /*! background: rgba(255, 255, 255, 0.75); */
    padding: 0.25rem;
}

.el_data .el_select .holder {
    color: var(--grey);
    padding: 0.75rem 0.5rem;
    margin-left: 0.25rem;
    font-weight: 400;
}

/*.el_data .el_select.disabled {
    opacity: 0.7;
}*/

.el_data .el_select .select_row span:hover {
    color: var(--red);
}

.el_data .el_select::after {
    content: "keyboard_arrow_down";
    font-family: 'Material Icons';
    font-size: 2rem;
    /*! background: rgba(255, 255, 255, 0.7); */
    position: absolute;
    /*! top: 2px; */
    right: 0;
    width: 2.5rem;
    text-align: center;
    transition: all .1s;
}

.el_data .el_select.open::after {
    transform: rotate(180deg);
}

.el_data.search .el_input {
    border-radius: var(--radius) 0 0 var(--radius);
    margin-right: -1px;
    /*! width: 100%; */
}

.el_data .el_select_list {
    /*! border: solid 1px var(--grey); */
    border-radius: var(--radius);
    margin-top: 0.25rem;
    box-shadow: var(--shadow-pop);
    z-index: 2;
    position: absolute;
    width: 100%;
    background: white;
    overflow-y: auto;
    max-height: 17rem;
    display: none;
    top: 2.1rem;
    /*! max-width: 16rem; */
}

.el_data .el_select_list.top {
    top: auto;
    bottom: 3rem;
}

.el_data .el_select_list.bottom {
    top: 2.1rem;
    bottom: auto;
}

.el_data .el_select_list .el_select_title {
    padding: 0.5rem 1rem;
    font-weight: 500;
    background: black;
    color: white;
}

.el_data .el_select_list .el_optgroup {
    background: inherit;
}

.el_data .el_select_list .el_option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    display: flex;
    align-items: center;
    /*! min-height: 2.5rem; */
}

.el_data .el_select_list .el_option.disabled {
    opacity: 0.5;
}

.el_data .el_select_list .el_option img, .el_data .el_select .select_row img {
    max-height: 1.5rem;
    /*! float: left; */
    margin-right: 0.5rem;
}

.el_data .el_select_list .el_option:hover {
    background: var(--light-grey);
}

.el_data .el_select_list .el_option.disabled:hover {
    background: none;
    cursor: default;
}

.el_data .el_select_list .el_option.selected {
    background: var(--light-grey);
    color: var(--main);
}

.el_data .el_option .container {
    position: sticky;
    padding-left: 2rem;
    font-size: 0.875rem;
    width: 100%;
    background: none;
    height: 1.25rem;
    display: flex;
    align-items: center;
    /*! min-height: 1.5rem; */
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
}

.el_data .el_select_list .el_multi_bar {
    display: flex;
    /*! position: absolute; */
    /*! top: 0.2em; */
    /*! right: 0; */
    z-index: 2;
    background: var(--grey);
    /*! overflow: hidden; */
    /*! margin-left: auto; */
    justify-content: flex-end;
    position: sticky;
    top: 0;
    bottom: auto;
}

.el_data .el_select_list.top .el_multi_bar {
    top: auto;
    bottom: 0;
}

.el_multi_bar button {
    margin: 0 .3rem;
    border-radius: var(--radius);
    /*! padding: 0.25rem 0.5rem; */
    /*! border: none; */
    height: 2.2rem;
}

/* - - */

.input_number input[type="number"] {
    display: inline-block;
    /*! height: 32px; */
    /*! line-height: 32px; */
    /*! width: 100%; */
    /*! padding: 0; */
    /*! margin: 0; */
    /*! text-align: right; */
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    /*! padding-right: 2rem; */
}

.input_number input[type="number"]::-webkit-outer-spin-button, .input_number input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.number-minus {
    position: absolute;
    top: 1.4rem;
    /*! left: 1px; */
    /*! bottom: 0; */
    width: 2rem;
    /*! padding: 0; */
    /*! display: block; */
    /*! text-align: center; */
    /*! border: none; */
    /*! border-right: 1px solid #ddd; */
    /*! font-size: 16px; */
    /*! font-weight: 600; */
    /*! background: var(--grey_normal); */
    right: 0;
    height: calc(1.4rem + 1px);
    /*! border-radius: 0 0 4px 0; */
}

.number-plus {
    position: absolute;
    /*! top: 1px; */
    /*! right: 1px; */
    /*! bottom: 1px; */
    width: 2rem;
    /*! padding: 0; */
    /*! display: block; */
    /*! text-align: center; */
    /*! border: none; */
    /*! border-left: 1px solid #ddd; */
    /*! font-size: 16px; */
    /*! font-weight: 600; */
    /*! background: var(--grey_normal); */
    height: calc(1.4rem + 1px);
    right: 0;
    top: 0;
    /*! border-radius: 0 4px 0 0; */
    /*! margin: 0; */
}

/* ----------------- */

/*поиск*/

.search form {
    display: flex;
    width: 100%;
}

.search form button {
    border-radius: 0 var(--radius) var(--radius) 0;
    margin: 0;
}

.search form input:focus {
    border-right: none;
}