@charset "utf-8";
/*обнуляем стили по умолчанию*/

ul, li, input, select, label, ol, p, fieldset {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    font-family: inherit;
    filter: none;
    font-weight: inherit;
    font-size: inherit;
}

a::-moz-focus-inner {
    border: none;
}

:focus {
    outline: none;
}

a, a:focus {
    outline: none;
    text-decoration: none;
    /*display: block;*/
    color: inherit;
    transition: ease-in-out 0.3s;
}

/*для адаптивности изображений*/

img {
    max-width: 100%;
    display: block;
    height: auto;
}

input[type=text] input[type=password] input, textarea {
    font-family: inherit;
    font-size: inherit;
}

/* Фокус на ипуте */

/*Настраиваем заголовки*/

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: 500;
    /*! line-height: 2rem; */
}

h3 {
    margin: 0.5rem;
    padding: 0;
    font-size: inherit;
    font-weight: 500;
    color: var(--black);
    /*! background: var(--light-grey); */
    /*! border: solid 1px var(--grey); */
    /*! border-bottom: none; */
}

h4 {
    margin: 0.5rem;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 500;
}

.box {
    /*! margin:1rem; */
    padding: 1rem;
}

/*универсальная обёртка с полями для ограничения ширины контента.*/

.wrap {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    /*! display: flex; */
    /*! flex-flow: row wrap; */
    /*! justify-content: space-between; */
    padding: 0 1rem;
}

.w_100 {
    width: 100%;
}

.w_91 {
    width: 91.6666%;
}

.w_83 {
    width: 83.3333%;
}

.w_75 {
    width: 75%;
}

.w_66 {
    width: 66.6666%;
}

.w_58 {
    width: 58.3333%;
}

.w_50 {
    width: 50%;
}

.w_41 {
    width: 41.6666%;
}

.w_33 {
    width: 33.3333%;
}

.w_25 {
    width: 25%;
}

.w_16 {
    width: 16.6666%;
}

.w_08 {
    width: 8.3333%;
}