@charset "utf-8";
.widgets .box {
    width: 33.3333%;
}

.slide_welcome .text_welcome {
    /*! width: 50%; */
    padding: 6rem 0;
}

.promo {
    display: flex;
}

.promo .pic {
    width: 33.3333%;
}

.promo .intro {
    width: 66.6666%;
}

.promo .intro .title {
    width: calc(50% - 1rem);
}

.news_list .item {
    display: flex;
}

.news_list .item .pic {
    width: 33.3333%;
}

.news_list .item .anons {
    width: 66.6666%;
}