AddDefaultCharset utf-8

#php_value opcache.enable=Off
#php_value display_errors = Yes

ErrorDocument 404 /404/
#Options +FollowSymlinks

RewriteEngine On
RewriteBase /
#RewriteCond %{HTTP_HOST} !^www\.shoptarget\.ru$
#RewriteCond %{HTTP_HOST} ^(.*)\.shoptarget\.ru$
#RewriteRule ^(.*)$ https://shoptarget.ru/?site=%1 [P]
#RewriteCond %{HTTPS} =off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA]
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{ENV:PATH_LOCAL} notfound
#RewriteRule \/news\/([^/]+)$  /news/?path=$1 [R=redirect]
#RewriteRule ([^/]+)\.html$ /catalog/?path=$1 [QSA]

RewriteRule ^([0-9a-zA-Z/_-]+)$ index.php?url=$1 [QSA]
RewriteRule (.*)\/([^/]+)\.html$ $1/?path=$2 [QSA]
RewriteRule (.*)\/page([^/]+) $1/?pn=$2 [QSA]
RewriteRule ([^/]+)\.site$ /site/?id=$1 [QSA]

#php_value display_errors On
#RewriteRule .* - [R=404,L]
#ErrorDocument 404 /index.php
Options All -Indexes
#php_value opcache.enable=Off
php_value max_file_uploads 100M
php_value post_max_size 100M
php_value upload_max_filesize 100M
