@charset "utf-8";
.slide_welcome .text_welcome {
    padding: 3rem 0;
}

.promo {
    display: flex;
}

.promo .pic {
    width: 50%;
}

.promo .intro {
    width: 50%;
}

.news_list .item {
    display: flex;
}

.news_list .item .pic {
    width: 33.3333%;
}

.news_list .item .anons {
    width: 66.6666%;
}