@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.statbgr {
    background-repeat: no-repeat;
}

.text, caption {
    font-size: 12px;
    color: Black;
    padding-left: 10px;
    padding-right: 10px;
}

A, A:visited {
    color: #0092D1;
    text-decoration: none;
}

A:HOVER {
    /*! color: #0092d1; */
    text-decoration: underline;
}

BUTTON, .but {
    background-color: #005c85;
    color: #FFFFFF;
    border: none;
    padding: 7px 15px;
	font-family: 'Roboto Condensed', sans-serif;
    font-size: .9rem;
    transition: all .3s;
    cursor: pointer;
	outline: none;
    height: 32px;
    margin: 15px 0;
}

BUTTON:hover, .but:hover {
    background-color: #0092D1;
}

button.close, .but.close{
    background-color: #D32F2F;
    float: left;
}
button.close:hover, .but.close:hover{
    background-color: #F44336;
}

button.agree, .but.agree{
     background-color: #388E3C;
    float: right;
}
button.agree:hover, .but.agree:hover{
    background-color: #4CAF50;
}

button .material-icons,
button .material-icons:hover{
    color: #fff;
    vertical-align: middle;
    margin-top: -3px;
}

INPUT, SELECT, OPTION, textarea {
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;
    padding: 2px 4px;
    border: 1px solid #ccc9c9;
}

.material-icons,
.material-icons a{
    cursor: pointer;
    /*font-size: 1.4rem;*/
    color: #3197D3;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
}
.material-icons:hover,
.material-icons a:hover{
    color:#E53935;
    text-decoration: none;
}


.divide {
    background-color: #B2E3FF;
    color: Navy;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    padding-left: 10px;
    height: 20px;
    cursor: hand;
    padding-top: 3px;
    width: 100%;
}

/*select, option {
	background-color : #DFF3FF;
	color : Navy;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12;
	border-color : White;
	border-style : solid;
	border-width : 0px;
	}*/

IMG {
    border: 0;
}

IFRAME {
    background-color: White;
    scrollbar-3dlight-color: #DFF3FF;
    scrollbar-arrow-color: #DFF3FF;
    scrollbar-base-color: #DFF3FF;
    scrollbar-darkshadow-color: #DFF3FF;
    scrollbar-face-color: #DFF3FF;
    scrollbar-highlight-color: #DFF3FF;
    scrollbar-shadow-color: #DFF3FF;
    scrollbar-track-color: #DFF3FF;
}

#message {
    background-color: White;
    scrollbar-3dlight-color: #DFF3FF;
    scrollbar-arrow-color: #DFF3FF;
    scrollbar-base-color: #DFF3FF;
    scrollbar-darkshadow-color: #DFF3FF;
    scrollbar-face-color: #DFF3FF;
    scrollbar-highlight-color: #DFF3FF;
    scrollbar-shadow-color: #DFF3FF;
    scrollbar-track-color: #DFF3FF;
}


fieldset {
    border: 2px solid #CCDCE6
}

BODY, TD, input {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.875rem;
}

BODY {
    background-color: #FFF;
}

table {
    border-collapse: collapse;
}

h1, h2, h3, h4, h5 {
    color: #005c85;
    font-size: 1.1rem;
    margin: 10px 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.el_tbl {
    border-collapse: collapse;
}

.el_tbl TD {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
   /* vertical-align: top;*/
}
.el_tbl tr:last-child td{
    border: none;
    padding-top:10px;
}
/*.el_tbl tr:last-child td:first-child{
    float: left;
}
.el_tbl tr:last-child > td:last-child{
    text-align: right;
}*/

.toptext {
    color: #436173;
    font-size: 9px
}

.el_shopcarttbl {
    border: 1px solid #4757C7
}

.el_shop_basket {
    background-color: #CCCCCC
}

.html_icons {
    border: 0px
}

.html_icons TD {
    border: 0px
}

.ftab {
    background-color: #F0F9FF;
    background-image: url(/editor/img/tab_fon_active.gif);
    background-repeat: repeat-x;
    height: 21px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    margin: -5px -5px -5px -5px;
    width: 150px;
}

.stab {
    background-color: #F3F3F3;
    background-image: url(/editor/img/tab_fon_inactive.gif);
    background-repeat: repeat-x;
    height: 19px;
    color: #666666;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    cursor: pointer;
    margin: -5px -5px -5px -5px;
    width: 150px;
}

.tabline {
    background-color: #F0F9FF;
    border-top-width: 2px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #DAE3E9;
    border-right-color: #DAE3E9;
    border-bottom-color: #DAE3E9;
    border-left-color: #DAE3E9;
}

.leftline {
    background-color: #F0F9FF;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 2px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #DAE3E9;
    border-right-color: #DAE3E9;
    border-bottom-color: #DAE3E9;
    border-left-color: #DAE3E9;
}

.leftline1 {
    background-color: #F0F9FF;
    border-top-width: 2px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 2px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #DAE3E9;
    border-right-color: #DAE3E9;
    border-bottom-color: #DAE3E9;
    border-left-color: #DAE3E9;
}

.rightline {
    border-top: #DAE3E9 outset 2px;
    border-right: #DAE3E9 outset 2px;
}

.ts2 {
    border-bottom: #DAE3E9 outset 2px;
}

.bodyline {
    background-color: #F0F9FF;
    border-top-width: 0px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #DAE3E9;
    border-right-color: #DAE3E9;
    border-bottom-color: #DAE3E9;
    border-left-color: #DAE3E9;
}

.help td {
    border: 0px
}

div.row, div.row_end {
    border-bottom: 1px solid #CCCCCC;
    height: 15px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 7px 0px 7px 25px;
}

div.row {
    background-image: url(img/branch_cont.gif)
}

div.row_end {
    background-image: url(img/branch_end.gif)
}

div.row div, div.row_end div {
    display: inline;
}

div.row div#left, div.row_end div#left {
    float: left;
}

div.row div#right, div.row_end div#right {
    float: right;
    margin: 0;
    right: 30px;
    position: absolute;
}

div.row div#right img, div.row div#right input, div.row_end div#right img, div.row_end div#right input {
    cursor: pointer;
    margin-bottom: 20px;
    vertical-align: middle
}

div.row_none {
    padding-left: 20px;
    background-image: url(/editor/img/leftmenu_plus.gif);
    background-repeat: no-repeat;
    cursor: pointer
}

div.row_block {
    padding-left: 20px;
    background-image: url(/editor/img/leftmenu_minus.gif);
    background-repeat: no-repeat;
    cursor: pointer
}

#botTabs {
    float: left;
    width: 100%;
    /*background:yellow;*/
    font-size: 90%;
    line-height: normal;
}

#botTabs ul, .inactive ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#botTabs li, .inactive li {
    float: left;
    background: url("img/tab_fon.gif") no-repeat right bottom;
    margin: 0;
    padding: 0;
}

#botTabs a, .inactive a {
    display: block;
    background: url("img/tab_left.gif") no-repeat left bottom;
    padding: 7px 8px;
    text-decoration: none;
}

#botTabs a:hover {
    text-decoration: none
}

#botTabs .current {
    background-image: url("img/tab_fon1.gif");
}

#botTabs .current a {
    background-image: url("img/tab_left1.gif");
}

#modul_panel {
    overflow: auto;
    border: 1px solid #C0C0C0;
    display: none;
    background-color: #ccdce6;
    margin: 0;
    padding: 5px
}

#modul_panel img {
    cursor: pointer
}

div#catalog_sort {
    margin-top: 20px;
    margin-bottom: 20px
}

div#catalog_sort a {
    margin-right: 40px;
    padding-left: 30px;
    background-image: url(img/filter_down.svg);
    background-repeat: no-repeat;
    background-position: left;
        border-bottom: none;
    font-family: 'Roboto Condensed', sans-serif;
    
}

div#catalog_sort a.sort_down {
    margin-right: 40px;
    padding-left: 30px;
    background-image: url(img/filter_up.svg);
    background-repeat: no-repeat;
    background-position: left
}

div#module_conteiner {
    width: 51px;
    height: 51px;
    border: 0;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat
}

div#module_conteiner_code {
    display: none;
    width: 1px;
    height: 1px;
    font-size: 3px
}

div#module_conteiner.menu {
    background-image: url(img/modul_menu.gif);
    background-color: #FFFFFF;
    font-size: 3px
}

ul.tab_switcher {
    margin: 0px;
    float: left;
    width: 100%;
    font-size: 90%;
    line-height: normal;
    list-style: none;
    display: block;
    margin-bottom: -4px;
}


ul.tab_switcher li {
    float: left;
    background: url("img/tab_fontop.gif") no-repeat right bottom;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #fba540;
}


ul.tab_switcher li a {
    display: block;
    background: url("img/tab_lefttop.gif") no-repeat left bottom;
    padding: 8px 7px;
    text-decoration: none;
    cursor: pointer;
}

ul.tab_switcher li a:hover {
    text-decoration: none
}

ul.tab_switcher li.current {
    background-image: url("img/tab_fon1top.gif");
    border-bottom: none;

}

ul.tab_switcher li.current a {
    background-image: url("img/tab_left1top.gif");
}

div.switch_panel {
    border: 2px solid #fba540
}


ul.tabs{
    margin-top: 15px;
    float: left;
    width: 100%;
    list-style: none;
    display: block;
    padding-inline-start: 0;
    margin-bottom: -2px;
}
ul.tabs li{
    float: left;
    margin-right: 4px;
    padding: 6px;
    min-width: 16%;
    height: 17px;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
    background-color: #f3f3f3;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}
ul.tabs li.current {
    border-bottom: none;
    position: relative;
    background-color: #fff;
    bottom: 1px;
    height: 19px;
}
.tcontent{
    border: 1px solid #c7c7c7;
    border-radius: 3px;
}

.style1 {
    color: #fff;
    /*! font-weight: bold; */
}

.menutd {
    margin-left: 3px;
    max-width: 800px;
}

.menutd thead td {
    border: none;
    background: #fff;
    padding: 3px;
}

.order a.nomer {
    text-decoration: underline;
}

.order .el_tbl2 {
    border: 0px solid #CCC;
    margin: 0;
    padding: 0;
}

.order .el_tbl2 TD {
    border-bottom: 1px solid #CCC;
    font-size: 12px;
}

.order .el_tbl2 th {
    background-color: #ddecff;
    font-size: 12px;
    border: 1px #CCC solid;
    color: #000;
    font-weight: normal;
    text-align: left
}

#alert_area, .alert_area {
    border: 1px solid #F00;
    background-color: #FF9;
    color: #F00;
    padding: 10px;
    display: none;
    width: 90%;
    font-weight: bold
}

.user .icon img {
    padding: 0px;
    margin: 0px;
    position: relative;
    float: left;
}

.el_tbl2 {
    border: 0px solid #CCC;
    margin: 0;
    padding: 0;
}

.el_tbl2 TD {
    border-bottom: 1px solid #CCC;
}


.el_tbl2 td input {
    font-family: 'Roboto Condensed', sans-serif;
}

.el_tbl2 td.user_none {
    border-bottom: 0px;
}

.el_tbl3 {
    padding: 5px;
}

.el_tbl3 TD {
    border-bottom: 0px solid #CCC;
    font-size: 13px;
    background-color: #eaf3fd;
    padding: 3px 0px 3px 10px;
}

.user_inform h3 {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0 0 5px 0;
}

.user_inform {
    border: 2px #eaf3fd solid;
    padding: 10px;
    margin-bottom: 20px;
    height: 100%;
    width: 80%;
    margin: 10px;
}


.shop_tbl {
    width: 90%;
    padding: 10px 0 10px 0;
    min-width: 800px;
}

.shop_tbl tr td {
    background-color: #CCDCE6;
    border: 1px solid #F0F9FF;
    padding: 5px;
}

.shop_tbl tr th {
    background-color: #CCDCE6;
    border: 1px solid #F0F9FF;
    padding: 5px;
    font-size: 14px;
}

.shop_tbl .right {
    text-align: right;
}

.shop_tbl_detali {
    margin: 10px 0 10px 0;
    width: 90%;
    min-width: 800px;
}

.shop_tbl_detali tr td {
    border: 1px solid #CCDCE6;
    padding: 8px;
}

.order_edt
form#order div#order_details div.view_order_detail {
    font-size: 16px;
    margin-bottom: 10px;
/ / font-weight: bold;
    color: #000000;
}

#order_details div.view_note .note_text {
    width: 500px;
    padding: 5px;
    border: 1px dotted #ffc539;
    background-color: #fffac4;
    margin-top: 5px;
    margin-bottom: 10px;
}

#order_details div.edit_note textarea {
    height: 100px;
}

.order_details label {
    display: block;
    color: #808080;
}

.order_details select {
    width: 302px;
    font-size: 12px;
    height: 20px;
}


.order_details input[type=text] {
    width: 300px;
    font-size: 12px;
}

.order_details textarea {
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
}

/*Tooltips*/
#tooltip {
    position: absolute;
    z-index: 1000000;
    border: 1px solid #ccc7c7;
    background-color: #fff;
    padding: 5px;
    opacity: 0.85;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.12);
}
#tooltip h3, #tooltip div {
    margin: 0;
    font-size: .75rem;
    font-weight: 100;
}
#tooltip.pretty {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: .8rem;
    border: none;
    width: 210px;
    padding:20px;
    height: 135px;
    opacity: 0.8;
}
#tooltip.pretty h3 {
    margin-bottom: 0.75em;
    font-size: .8rem;
    width: 220px;
    text-align: center;
}
#tooltip.pretty div { width: 220px; text-align: left; }

#tooltip.fancy {
    padding-top: 5em;
    height: 100px;
}

#modal{
    position: absolute;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.29);
    z-index: 1000000;
    display: none;
    background-color: #fff;
    border: 1px solid grey;
}
#modal .close{
    cursor: pointer;
    text-align: right;
    padding: 5px 17px 5px 0;
    background-color: #eaf4f9;
}
#modal iframe{
    border: none;
    position: absolute;
    top: 32px;
}
#modalWrap{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100000;
}

.red{
    color: red;
}

.tblVertMiddle tr td{
    vertical-align: middle;
    min-height: 36px;
}

.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.pagination .arrow {
   height: 1rem;
    width: 1rem;
    margin: 0 1rem;
}

.pagination .page {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: #0032A0;
    transition: ease-in-out 0.3s;
}

.pagination .page a:hover {
    background: #69b3e7;
    height: 100%;
    color: white;
}

.pagination .page.current {
    background: #69B3E7;
    color: #fff;
}

.pagination .page a {
    color: #0032a0;
    display: block;
    transition: ease-in-out 0.3s;
    border-bottom: none;
}
.pagination .arrow a{
    display: block;
    width: 1rem;
    height: 1rem;
    padding: .75rem;
    margin-top: -.75rem;
    border-bottom: none;
}
.pagination .arrow:first-child {
   margin-right: 2rem;
}

.pagination .arrow a:hover {
    background: #FFD54F;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.divider td {
    background-color: #F5F5F5;
    color: #2d76a7;
}
.divider_print td {
    background-color: #F5F5F5;
    color: #7d7d7d;
}