@charset "utf-8";
/*кнопки*/

button {
    appearance: none;
    -webkit-appearance: none;
}

button, .button {
    background: var(--light-grey);
    border: solid 1px var(--grey);
    display: flex;
    font-size: 0.875rem;
    font-family: inherit;
    padding: 0.6rem 0.75rem;
    /*! max-width: 12rem; */
    text-align: center;
    margin: 0.5rem 0;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    color: var(--main);
    /*! border-radius: var(--radius); */
    /*! min-width: 8rem; */
    justify-content: center;
    font-weight: 500;
    height: 46px;
    line-height: 1.5rem;
    white-space: nowrap;
}

button:hover, .button:hover {
    /*! filter: brightness(1.2); */
    /*! color: black; */
    background: white;
    box-shadow: var(--shadow-button);
}

button:disabled, button[disabled], .button.disabled {
    cursor: no-drop;
    opacity: 0.6;
}

button.icon.text .material-icons, .button.text.icon .material-icons {
    padding: 0 0.5rem 0 0;
    margin-left: -0.25rem;
}

.red {
    color: var(--orange);
}

.green {
    color: var(--green);
}